.App {
  text-align: center;
}

.pizzacontainer {
  background-image: url("assets/img/pizzas.png");
  padding-top: 8px;
  align-items: center;
  text-align: center;
  background-size: cover;
  position: relative;
  height: 170px;
  width: auto;
  margin-bottom: 25px;
}

.pizzacontainer h2, h5{
  justify-content: center;
  padding-top: 16px;
  color: white;
  position: relative;
}

h2{
  font-size: 40px;
}

.pizzacontainer:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

.maincontainer, p, h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}

ul li{
  list-style:none;
  display: flex;
  justify-content:space-between;
}

.total {
  font-size: 35px;
  font-weight: bold;
}

.navi {
  background-color: rgb(0, 130, 216)!;
  
  top: 0;
  width: 100%;

}